<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
<header class="d-flex flex-wrap align-items-center mb-3 border-bottom" style="background-color: #ff914b;color:#fff;" th:fragment="menu">
      <div class="m-p-0 py-3 row" style="background-color: #ffbd59;color:#fff;">
        <h2>○○書店</h2>
      </div>
       <div class="m-p-0 py-3 row" style="background-color: #ffbd59;color:#fff;">
        <img th:src="@{/getImg?name=ユーザーアイコン}" alt="Dinosaur" />
      </div>
</header>
</body>
</html>