<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
	<meta charset="UTF-8">
	<title>商品詳細</title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}">
	<script rel="text/javascript" th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
	<!-- ※必ず先にJQueryを読み込む -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
	<!--<script>-->
	<!--  $('tr[data-href]').click(function (e) {-->
	<!--      if (!$(e.target).is('a')) {-->
	<!--        window.location = $(e.target).data('href');-->
	<!--      };-->
	<!--  });-->
	<!--</script>-->
	<script>
		$(function () {
			$(".menu__item").hover(
				function () {
					$(".menuSub:not(:animated)", this).slideDown();
				},
				function () {
					$(".menuSub", this).slideUp();
				}
			);
		});
	</script>
</head>

<body>
	<div th:insert="~{manager/common/menu :: menu}"></div>
	<div class="d-flex align-items-center justify-content-center mt-sm-2 mt-auto mb-sm-2 mb-auto">
		<div th:object="${empData}" style="width:50%;">
			<div class="row">
				<div class="col-2 border bg-light">社員ID</div>
				<div class="col border">
					<p th:text="*{loginid}"></p>
				</div>
			</div>
			<div class="row">
				<div class="col-2 border bg-light">名前</div>
				<div class="col border">
					<p th:text="*{name}"></p>
				</div>
			</div>
			<div class="row">
				<div class="col-2 border bg-light">所属</div>
				<div class="col border">
					<!--          <p th:text="${typeData.name}" th:value="*{type_id}"></p>-->
					<input type="hidden" th:value="*{did}" />
					<p th:text="${depData.name}"></p>
				</div>
			</div>
			<div class="row">
				<div class="col-2 border bg-light">権限</div>
				<div class="col border">
					<p th:text="*{authority}"></p>
				</div>
			</div>
		</div>
		<!-- mx-md-n5-->
	</div>
	<div class="d-flex justify-content-center"><span th:text="${mesage}"></span></div>
	<div class="d-flex justify-content-evenly">
		<form th:action="@{/manager/authority}" th:object="${authData}" method="post">
			<input type="hidden" th:field="*{loginid}" />
			<input type="hidden" th:field="*{name}" />
			<input type="hidden" th:field="*{did}" />
			<input type="hidden" th:field="*{authority}" />
			<input class=" btn btn-primary" type="submit" th:href="@{/manager/menu}" th:value="権限変更" />
		</form>
		<form th:action="@{/manager/admin}" method="get">
			<input class=" btn btn-primary" type="submit" th:href="@{/manage/menu}" value="戻る" />
	</div>
	</form>
</body>

</html>