<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
<header class="d-flex flex-wrap py-0 px-0 align-items-center mb-3 border-bottom" style="background-color: #d9d9d9;color:#fff;" th:fragment="menu">
      <div class="row">
        <h2 class="col m-0 py-3" style="background-color: #a6a6a6;color:#fff;width:100%;">○○書店</h2>
      </div>
      <div class="row" style="width:90%;text-align: right;color:#000;"><i class="bi bi-person-circle"></i></div>
</header>
</body>
</html>